:root {
  --blanco: #ffff;
  --gris: #8a8989;
  --gris-fuerte: #2c2b2b;
  --bordo1: #7a4053;
  --bordo2: #91405b;
  --bordo3: #c76787;
  --bordo4: #c7a3af;
  --negro: #121111;
  --negro-claro: #1c1b1b;
}
