.categoriasS{
    margin-top: 30px;
}
.imgcontent{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.6);
    min-height: 300px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.titleS{
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-style: bold;
    font-size: 50px; 
    max-width: max-content;
    max-height: max-content;
    border-color: white;
    border-width: 2px;
}
.cardS1{
    background-image: url('../assets/terror.png');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cardS2{
    background-image: url('../assets/fantasia.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cardS3{
    background-image: url('../assets/infantil.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cardS4{
    background-image: url('../assets/cienciaf.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cardS5{
    background-image: url('../assets/misterio.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.cardS6{
    background-image: url('../assets/comedia.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.cardS7{
    background-image: url('../assets/aventura.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.cardS8{
    background-image: url('../assets/accion.jpeg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}