@import 'vars';

.form {
    background-image: url("/src/assets/fondocuenta.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    place-items: center;

}

.con-crear {
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}

.form-containerCc {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 450px;
    height: 570px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    padding: 25px;

}

.form-loginCc {
    display: flex;
    flex-direction: column;
    padding: 25px;
}


.labelCc {
    margin-top: 10px;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--blanco);
}


.inputCc {
    padding: 5px;
    height: 32px;
    background-color: rgb(194, 193, 193);
    color: var(--negro);
    border: none;
    border-radius: 4px;
    font-size: var(--sm);
    margin-bottom: 12px;
}

.boton-principalCc {
    height: 48px;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    border: var(--negro);
    margin-bottom: 20px;
    color: var(--negro);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.boton-principalCc:hover {
    color: var(--blanco);
    background-color: var(--negro);
    border: 2px solid var(--gris);
}

.con-btn {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.recuperarCc {
    color: var(--rosa_pastel);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 12px;
}

@media(max-width:640px) {
    .logoCc {
        display: block;
    }

}