@import 'vars';

.sala {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/cine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    justify-content: center;

}

.brand-logo {
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;

}


.btn-go-home {
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    top: 72%;
    z-index: 200;
    width: 120px;
    height: 38px;
    border: 1px solid var(--bordo2);
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: var(--blanco);
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    display: grid;
    align-items: center;

    transition: all 0.3s ease-in;

}

.btn-go-home:hover {
    background-color: var(--bordo2);
    color: var(--blanco);
    transform: scale(1.05);

}


.palomitas {
    position: absolute;
    transform: translateX(-50px);
    top: 65%;
    pointer-events: none;
    animation: palomitas-movement 20s linear infinite both running;

}

@keyframes palomitas-movement {
    100% {
        transform: translate(1200px, -600px);

    }

}

.gary {
    position: absolute;
    top: 87%;
    right: 0%;
    animation: move-gary 40s infinite linear;

}

@keyframes move-gary {
    100% {
        transform: translate(-1600px, 0px);

    }

}

.patricio {
    position: absolute;
    width: 170px;
    top: 50%;
    left: 24%;

}

.box-bob {
    position: absolute;
    top: 60%;
    right: 20%;
    animation: move-bob 20s infinite linear both alternate;

}

.bob {
    animation: rotate-bob 200s infinite linear both alternate;

}

@keyframes move-bob {
    100% {
        transform: translate(-160px, -200px);
    }
}


@keyframes rotate-bob {
    100% {
        transform: rotate(-720deg);
    }
}

.box-404 {
    position: relative;
    top: 5%;
    display: grid;
    width: 100%;


}

.image-404 {
    margin-left: auto;
    margin-right: auto;
}

.stars {
    position: relative;
    bottom: 29%;
    height: 220px;
    background-image: url(../assets/estrellas.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

@media only screen and (max-width: 900px) {

    .brand-logo img {
        width: 120px;

    }

    .box-bob {
        top: 53%;
        left: 35%;

    }

    @keyframes move-bob {
        100% {
            transform: translate(-160px, -70px);
        }
    }

    .central-body {
        padding-top: 20%;

    }

    .patricio {
        display: none;
    }

    .stars {
        height: 175px;
    }

}