@import 'vars';

  body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .favoritos {
    border-radius: 8px;
    display: flex;
    gap: 15px;
    place-content: center;
    width: 320px;
    align-items: center;
    padding: (5px 5px 5px 0px);
  }
  .favoritos img {
    width: 80%;
    height: 100%;
    border-radius: 20%;
  }
  .favoritos p {
    font-size: 10px;
    color: var(--gris);
    text-align: justify;
  }
  .favoritos a {
    font-weight: bold;
    color: var(--gris);
    font-size: var(--md);
    padding-right: 10px;
  }
  .favoritosItemFigure {
    margin:10px;
  }

  @media (max-width: 640px) {
    .titleFav {
      display: none;
    }
    .favoritos{
      width: 200px;
    }
  }
  

  
  .titleFav{
    color: white;
    min-width: 100px;
    font-size: 20px;
  }
  .btnC{
    align-items: center;
    justify-content: center;
    align-self: center;
  }