footer {
    margin-top: 20px;
    background-color: var(--negro-claro);
    padding: 20px 0;
    color: var(--gris);
}

.container-fo {
    max-width: 1200px;
    margin: 0 auto;
}

.row-fo {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 50%;
    width: 100%;
    max-width: 100%;

}

.ul-fo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li-fo {
    margin-bottom: 10px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

.social-icons li:last-child {
    margin-right: 20px;
}

.fa {
    display: inline-block;
    font-size: 10em;
    margin-right: 5px;
}

.fa-facebook {
    color: #3b5998;
    font-size: 25px;
    margin-right: 25px;
    margin-left: 10px;
}

.fa-twitter {
    color: #1da1f2;
    font-size: 25px;
    margin-right: 25px;
}

.fa-instagram {
    color: #e4405f;
    font-size: 25px;
    margin-right: 25px;
}

.fa-youtube {
    color: #cd201f;
    font-size: 25px;
    margin-right: 25px;
}


.text-center {
    text-align: right;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #00aced;
}




@media (max-width: 767px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .social-icons li {
        margin-right: 5px;
    }

    .fa {
        font-size: 16px;
        margin-right: 0;
    }


    .text-center {
        margin-top: 20px;
    }

    .container-fo {
        margin-left: 30px;
    }
}