:root {
    --blanco: #ffff;
    --bordo: #472531;
    --bordo1: #7A4053;
    --bordo2: #91405B;
    --bordo3: #C76787;
    --bordo4: #C7A3AF;
    --negro: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: var(--negro);
}