.contenedor {
  width: 100%;
  margin-top: 30px;
}

.contenedor2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-titulo {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo h3 {
  color: var(--blanco);
  font-size: 20px;
}

.contenedor-titulo .indicadores button {
  background: var(--blanco);
  height: 4px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;

}

.contenedor-titulo .indicadores button:hover,
.contenedor-titulo .indicadores button:active {
  background-color: var(--bordo1);
}

.peliculas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.peliculas .contenedor-principal .flecha-izquierda,
.peliculas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  height: 60%;
  line-height: 40px;
  width: 50px;
  color: var(--blanco);
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}


.peliculas .contenedor-principal .flecha-izquierda:hover,
.peliculas .contenedor-principal .flecha-derecha:hover {
  background-color: var(--negro);
  transform: scale(1.1);
  opacity: 80%;
}

.peliculas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas .contenedor-principal .flecha-derecha {
  right: 0;
}

.peliculas .contenedor-carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  margin-bottom: 45px;
}

.peliculas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  width: 100%;
  height: 100%;
  transition: .3s ease all;
}

.peliculas .contenedor-carousel .carousel .pelicula:hover {
  transform: scale(1.17, 1.19);
  transform-origin: center;
}

.peliculas .contenedor-carousel .carousel .pelicula img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  padding: 10px;
  max-height: 180px;
  max-width: 350px;
}

.peliculas .contenedor-carousel .carousel .pelicula a {
  text-decoration: none;
}

.mas-peliculas {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
}

.mas-peliculas .peliculas-dos {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  z-index: 900;
  margin-top: -48px;
  border-radius: 6px;
  box-shadow: 0px 10px 30px var(--gris-fuerte), 0px -10px 30px var(--gris-fuerte);
  cursor: pointer;

}

.video {
  position: relative;
  top: 3%;
  left: 0;

}

.mas-peliculas2 {
  height: auto;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 20px;
  background-color: var(--gris-fuerte);
}

.mas-peliculas2 .peliculas-dos2 {
  display: flex;
  overflow: hidden;
  border-radius: 20px;

  cursor: pointer;

}

.mas-peliculas2 .peliculas-dos2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 500ms ease-out;
  box-shadow: 10px 20px 50px var(--negro), -10px -5px 30px;
  cursor: pointer;

}


.mas-peliculas2 .peliculas-dos2 h3 {
  color: var(--gris);
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}


@media screen and (max-width:800px) {
  .contenedor2 {
    width: 90%;
  }

.peliculas .contenedor-carousel {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .peliculas .contenedor-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .peliculas .contenedor-carousel .carousel .pelicula img {
    height: 100%;
    vertical-align: top;
  }



  .mas-peliculas2 {
    width: 100%;
  }

  .mas-peliculas2 .peliculas-dos2 img {
    width: 110%;
    height: 100%;
  }

  .mas-peliculas2 .peliculas-dos2 h3 {
    color: var(--gris);
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
  }

}

.titleS{
  font-family: 'Nanum Myeongjo', serif;
}