@import 'vars';

.Menu2 {
    height: auto;
    width: 293px;
    position: relative;
    top: 0px;
    right: 0%;
}

.Menu2 a {
    text-decoration: none;
    color: inherit;
}

.Menu2 li {
    display: inline;
}

@media (max-width: 1116px) {
    .Menu2 {
        grid-template-columns: repeat(auto-fill, 140px);
        right: 25px;
        display: none;
    }
}