@import 'vars';
  
  .MisFavoritos {
    width: 350px;
    height: auto;
    padding: 10px 10px;
    border-bottom: 2px solid var(--gris-fuerte);
    background: var( --gris-fuerte);
    position: absolute;
    top: 80px;
    right: 22px;
    max-height: 500px;
    overflow-y: auto;
  }

  .informacionMisFavoritos p {
    display: flex;
    justify-content: end;
    color: white;
  }

  .titleMisFavoritos {
    display: flex;
  }

  .titleMisFavoritos img{
    width: 20px;
    height: 20px;
    padding-top: 20px;
    margin: 5px;
  }


  .titleMisFavoritos-title h1{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 4px;
  }

  .boton-principalMisFavoritos {
    height: 30px;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px var(--blanco);
    background-color: transparent;
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
  }

  @media (max-width: 640px) {
    .MisFavoritos {
      grid-template-columns: repeat(auto-fill, 140px);
      right:  25px;
      display: grid;
    }

    .titleFavoritos {
      display: none;
    }
      .MisFavoritos {
        width: 250px;
      }
  }
